<md-toolbar class="md-primary">
  <div class="md-toolbar-tools">
    <!-- Title -->
    <span class="brand">BookOutpost</span>

    <!-- Add spacer, to align navigation to the right -->
    <div flex></div>
    <md-fab-speed-dial md-open="menu.isOpen" md-direction="left" class="md-scale">
      <md-fab-trigger>
        <md-button aria-label="menu" class="md-icon-button">
          <md-icon md-icons-set="material icons">menu</md-icon>
        </md-button>
      </md-fab-trigger>
      <md-fab-actions>
        <md-button aria-label="sign out" class="md-icon-button md-mini">
          <md-icon md-icons-set="material icons">exit_to_app</md-icon>
        </md-button>
        <md-button aria-label="account" class="md-icon-button md-mini">
          <md-icon md-icons-set="material icons">account_circle</md-icon>
        </md-button>
      </md-fab-actions>
    </md-fab-speed-dial>
  </div>
</md-toolbar>
