<section ng-controller="NavbarCtrl">
  <md-toolbar class="md-primary" ng-if="isLoggedIn()">
    <div class="md-toolbar-tools">
      <!-- Title -->
      <span class="brand" layout-margin>BookOutpost</span>
      <!-- Add spacer, to align navigation to the right -->
      <div flex></div>
      <md-button aria-label="sign out"
          class="md-icon-button"
          ng-click="logout()">
        <md-icon md-icons-set="material icons">exit_to_app</md-icon>
      </md-button>
    </div>
  </md-toolbar>
  <div flex ng-if="isLoggedIn()">
    <md-tabs class="md-accent" md-selected="data.selectedIndex" md-align-tabs="top" flex>
      <md-tab id="tab1" ui-sref="browse"><md-tab-label>Browse</md-tab-label></md-tab>
      <md-tab id="tab2" ui-sref="library"><md-tab-label>Library</md-tab-label></md-tab>
      <md-tab id="tab3" ui-sref="profile"><md-tab-label>Profile</md-tab-label></md-tab>
      <md-tab id="tab4"><md-tab-label>Messages</md-tab-label></md-tab>
    </md-tabs>
  </div>
</section>
