<div class="profile-wrapper">
  <form name="profileForm" layout-margin>
    <md-input-container flex>
      <label>First name</label>
      <input ng-model="user.firstName">
    </md-input-container>
    <md-input-container flex>
      <label>Last Name</label>
      <input ng-model="user.lastName">
    </md-input-container>
    <md-input-container flex>
      <label>City</label>
      <input ng-model="user.city">
    </md-input-container>
    <md-input-container flex>
      <label>State</label>
      <input ng-model="user.state">
    </md-input-container>
    <md-button class="md-primary md-raised" ng-click="changeProfile()">Update</md-button>
  </form>
</div>
